/src
test.js
binding.gyp

/headers
/SDK_WIN_x64_2024-0-594
/SketchUpAPI.framework/headers

/scripts

# dependencies
/node_modules

# testing
/coverage
/dist/**/*.test.js
/dist/**/*.test.d.ts
/dist/**/*.test.d.ts.map
/src/**/*.test.ts
/src/**/*.test.tsx

# examples
/examples

# misc
.DS_Store
*.pem
*.tgz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# tools
/.github
/.vscode
/.editorconfig
/.eslintignore
/.eslintrc.js
/.eslintrc.json
/.gitignore
/.nvmrc
/.npmignore
/.prettierignore
/.prettierrc.json
/jest.config.ts
/renovate.json
/tsconfig.esm.json
/tsconfig.json
/yarn.lock